<span class="error" data-bind="html: addWorkingPointError"></span>
<form>
    <div class="form-group">
        <label for="Country" >Country:</label>
        <input type="text" class="form-control" data-bind="value: newWorkingPoint.country">
    </div>
    <div class="form-group">
        <label for="City">City:</label>
        <input type="text" class="form-control" data-bind="value:newWorkingPoint.city">
    </div>
    <div class="form-group">
        <label for="Street">Street:</label>
        <input type="text" class="form-control" data-bind="value:newWorkingPoint.street" />
    </div>
    <div class="form-group">
        <label for="nr" >Nr:</label>
        <input type="text" class="form-control" data-bind="value:newWorkingPoint.nr"/>
    </div>
    
</form>


