
<table class="table table-striped ">
    <thead>
        <tr>
            <th>#</th>
            <th>FullName</th>
            <th>PhoneNumber</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delet</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: employees">

        <tr>
            <td data-bind="text: ($index() + 1)"></td>
            <td> <span data-bind="text: firstName"></span>&nbsp<span data-bind="text: lastName"></span></td>
            <td data-bind="text: phoneNumber"></td>
            <td data-bind="text: email"></td>
            <td>
                <button type="button" class="btn btn-primary" data-bind="click : $root.editEmployee.bind($data)">
                    Edit
                </button>
            </td>
            <td>
                <button type="button" class="close" aria-label="Close" data-bind="click : $root.deletEmployee.bind($data)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </td>
        </tr>

    </tbody>
</table>